* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@font-face {
  font-family: appleFont;
  src: url("./Asset/Akzidenz\ Grotesk\ Roman\ Bold.ttf");
}

body,
.body {
  height: 100vh;
  width: 100%;
  background-color: rgb(17, 17, 17);
}

nav {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.center {
  display: flex;
  align-self: center;
  justify-content: center;
}

nav div {
  width: max-content;
  gap: 3rem;
}

.Admin_profile {
  height: 6rem;
  width: 6rem;
  object-fit: contain;
  border-radius: 50%;
  background-color: white;
}

nav div span {
  font-size: 2rem;
  color: aliceblue;
  font-weight: 900;
  font-family: appleFont;
}

.container {
  height: 90%;
  display: flex;
}

.main {
  width: 80%;

  background-color: white;
}

.sidebar {
  width: 20%;
  display: flex;
  padding: 2rem 0;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid white;
}
.main {
  width: 80%;
}

.sidebar .menuLink {
  height: max-content;
  width: 100%;
  font-size: 2rem;
  font-family: appleFont;
  text-align: center;
  padding: 1.5rem 0;
  color: white;
  cursor: pointer;
  transition: all ease 0.9s;
}

.sidebar .menuLink:last-child {
  color: red;
}

.sidebar .menuLink:last-child:hover {
  color: rgba(255, 0, 0, 0.66);
}

.sidebar .menuLink:hover {
  opacity: 0.7;
  color: rgb(130, 130, 130);
  transform: scale(1.2);
}

/* Hello */
.main_container {
  height: max-content;
  width: 100%;
}

.main_container_top {
  height: 10%;
  margin: 2% 0;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  font-family: appleFont;
  color: rgb(17, 17, 17);
}

.main_container_bottom {
  /* margin: 1% 0; */
  height: max-content;
  font-size: 2rem;
  font-family: appleFont;
  display: flex;
  flex-direction: column;
}

.admin_profile_form_field {
  height: max-content;
  width: max-content;
  display: flex;
  gap: 1rem;
}

.main_container_bottom form {
  width: 100%;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.admin_profile_form_label {
  height: 5rem;
  width: 10rem;
  font-size: 2rem;
  color: rgb(17, 17, 17);
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.admin_form_inputs {
  font-family: appleFont;
  border: none;
  font-size: 2rem;
  border: 1px solid rgb(17, 17, 17);
  padding: 0.5rem 1rem;
}

.admin_profile_form_submit_btn {
  border: 1px solid black;
  color: white;
  background-color: rgb(13, 14, 16);
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 1s;
}

.admin_profile_form_submit_btn:hover {
  border: 1px solid rgb(17, 17, 17) !important;
  color: rgb(17, 17, 17);
  background-color: white;
}

.admin__mainBody {
  display: flex;
  flex-direction: column;
}

.numberCards {
  height: 30%;
  display: flex;
  align-items: center;
  /* padding: 2rem; */
  justify-content: space-evenly;
}

.numberCard {
  height: 10rem;
  width: 30%;
  background-color: rgba(234, 229, 229, 0.932);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.card_number {
  height: 70%;
  width: 100%;
  font-size: 4rem;
  display: flex;
  align-items: center;
  font-weight: 900;
}

.card_title {
  height: max-content;
  width: 100%;
  font-size: larger;
  font-weight: 900;
}

.applicantCards {
  height: 75%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.graph {
  font-size: 1rem;
  height: max-content;
  margin: 5%;
  padding: 0 5rem;
  max-width: 100%;
}

/* Images.js */
.fileUploader {
  height: 60vh;
  margin: 4rem;
  background-color: rgb(168, 167, 167);
  align-items: center;
  flex-direction: column;
  justify-content: start;
  gap: 2rem;
}

.fileUploader .blackFrame {
  margin-top: 3%;
  height: 80%;
  width: 95%;
  background-color: rgb(6, 6, 5);
}

.fileUploader .imageInput {
  font-family: appleFont;
}

::-webkit-file-upload-button {
  content: "Click me !important";
  font-family: appleFont;
  padding: 1rem;
  color: black;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
}

/* .progressbar {
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  z-index: 1;
  background: red;
  animation: progress linear;
  animation-timeline: scroll(root);
}

@keyframes progress {
  to {
    width: 100%;
  }
} */
